Repository h-yasha/sample-jd-app: changes, and which lint-staged commands are due for each by the changed paths.
All: rome ci, eslint, prettier --check

add code action to sort imports on save (rome).
  .vscode/settings.json
Due: prettier --check

update dependencies and remove type-check in pre-commit hook
  package.json
  pnpm-lock.yaml
Due: prettier --check

move <Scripts /> to head renders <!> in body ??
  src/root.tsx
Due: rome ci, eslint

install @solid-primitives/storage and configure cookieStorage
  package.json
  pnpm-lock.yaml
  src/root.tsx
Due: rome ci, eslint, prettier --check

install and configure theme-change
  package.json
  pnpm-lock.yaml
  src/root.tsx
Due: rome ci, eslint, prettier --check

update dependencies rome v12 | tailwindcss v3.3.0 HORRAY!
  package.json
  pnpm-lock.yaml
Due: prettier --check

update lock file to v6 and pnpm to v8
  package.json
  pnpm-lock.yaml
Due: prettier --check

switch to rome for formatting JSON
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  rome.json
Due: prettier --check

setup theme changer create Theme Selector save active theme in cookie
  src/components/ThemeSelect.tsx
  src/root.tsx
  src/routes/_.tsx
  src/routes/_/index.tsx
Due: rome ci, eslint

install prettier-plugin-tailwindcss format and clean up
  .prettierignore
  .prettierrc.cjs
  package.json
  pnpm-lock.yaml
  src/entry-client.tsx
  src/env/client.ts
  src/routes/_/index.tsx
  src/routes/index.tsx
  src/server/db/client.ts
  src/server/trpc/context.ts
  src/server/trpc/router/example.ts
  src/server/trpc/utils.ts
  src/utils/trpc.ts
  vite.config.ts
Due: rome ci, eslint, prettier --check

install @tanstack/solid-table create sample table (based on @tanstack/solid-table's table basic example) format code (rome does not support jsonc)
  .eslintrc.json
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
  src/components/table/index.tsx
  src/routes/_/index.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint, prettier --check

stylize table
  src/components/table/index.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint

implement column sorting
  src/components/table/index.tsx
Due: rome ci, eslint

add util: range
  src/utils/range.ts
Due: rome ci, eslint

chore: utils.range(): omit end from generated range
  src/utils/range.ts
Due: rome ci, eslint

feat: add utils.removeAllExceptFirst()
  src/utils/removeAllExceptFirst.ts
Due: rome ci, eslint

feat: add utils.preventNonNumericInputs()
  src/utils/preventNonNumericInputs.ts
Due: rome ci, eslint

feat: add Pagination Component
  src/components/Pagination.tsx
  src/routes/_/index.tsx
  src/routes/_/pagination.tsx
Due: rome ci, eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: incorrect startPages in pagination update Pagination defaults
  src/components/Pagination.tsx
Due: rome ci, eslint

chore: setup ts-node for playground
  package.json
  playground.ts
  pnpm-lock.yaml
  tsconfig.json
Due: rome ci, eslint, prettier --check

feat: add pagination to table
  src/components/table/index.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint

feat: add global filter in table
  src/components/table/index.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint

feat: add filter to table
  src/components/table/Filter.tsx
  src/components/table/index.tsx
Due: rome ci, eslint

chore: remove typescript eslint config (plugin). Mostly conflict with Rome.
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: add Date renderer for Table
  package.json
  pnpm-lock.yaml
  src/components/table/defaultRenderers/DateCell.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint, prettier --check

feat: add date range filter - min/max not working!
  src/components/table/Filter.tsx
  src/components/table/filters/DateFilter.tsx
  src/routes/_/table.tsx
Due: rome ci, eslint

chore: rome does not support JSON with comments
  .vscode/settings.json
Due: prettier --check

chore: install and configure cspell
  cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: fix cspell lint
  cspell.json
Due: prettier --check

chore: remove theme-color meta tag
  src/root.tsx
Due: rome ci, eslint

feat: create default layout
  src/routes/(root).tsx
  src/routes/(root)/index.tsx
Due: rome ci, eslint

feat: add solid-icons
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat: add tailwind-scrollbar
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: rome ci, eslint, prettier --check

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore(ThemeSelect.tsx): string lateral for class instead of classList
  src/components/ThemeSelect.tsx
Due: rome ci, eslint

feat(root index): use theme colors + explicitly specify button type
  src/routes/(root)/index.tsx
Due: rome ci, eslint

feat: Add Sidebar
  src/components/Sidebar.tsx
  src/routes/(root).tsx
Due: rome ci, eslint

fix: migrate tailwind config to typescript - Enable all daisyUI themes
  tailwind.config.cjs
  tailwind.config.ts
Due: rome ci, eslint

Path conditions:
  rome ci: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mjs}
  eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx,cts,mjs}
  prettier --check: any of: *.{md,html,css,json}
